.page{
    display: flex;
    align-items: flex-start;
    width: 753px;
    height: 528px;
    position: absolute;
    flex-direction: column;
    left: 300px;
    top: 150px;


}
.about , .information, .lylich {
    padding: 20px 0px;
}
.information ul li {
    padding: 10px 0px;
}
.lylich p{
    padding: 10px 0px;
    width: 50vw;
}