.item-form{
    display: flex;
    flex-direction: row;
    padding: 20px;
    
}
label{
    width: 50px;
    height: 20px;

}
input{
    margin-left: 20px;
    width: 200px;
    height: 30px;

}
form {
    position: relative;
    left: 500px;
    top: -400px;
}